In [1]:
import pandas as pd

In [2]:
weather_df = pd.read_csv('weather.csv')

In [3]:
rides_df = pd.read_csv('cab_rides.csv')

In [4]:
weather_df

,temp,location,clouds,pressure,rain,time_stamp,humidity,wind
0,42.42,Back Bay,1.00,1012.14,0.1228,1545003901,0.77,11.25
1,42.43,Beacon Hill,1.00,1012.15,0.1846,1545003901,0.76,11.32
2,42.50,Boston University,1.00,1012.15,0.1089,1545003901,0.76,11.07
3,42.11,Fenway,1.00,1012.13,0.0969,1545003901,0.77,11.09
4,43.13,Financial District,1.00,1012.14,0.1786,1545003901,0.75,11.49
...,...,...,...,...,...,...,...,...
6271,44.72,North Station,0.89,1000.69,NaN,1543819974,0.96,1.52
6272,44.85,Northeastern University,0.88,1000.71,NaN,1543819974,0.96,1.54
6273,44.82,South Station,0.89,1000.70,NaN,1543819974,0.96,1.54
6274,44.78,Theatre District,0.89,1000.70,NaN,1543819974,0.96,1.54
6275,44.69,West End,0.89,1000.70,NaN,1543819974,0.96,1.52

In [5]:
rides_df

,distance,cab_type,time_stamp,destination,Source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1.544950e+12,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1.543280e+12,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1.543370e+12,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1.543550e+12,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1.543460e+12,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL
...,...,...,...,...,...,...,...,...,...,...
693066,1.00,Uber,1.543710e+12,North End,West End,13.0,1.0,616d3611-1820-450a-9845-a9ff304a4842,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL
693067,1.00,Uber,1.543710e+12,North End,West End,9.5,1.0,633a3fc3-1f86-4b9e-9d48-2b7132112341,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX
693068,1.00,Uber,1.543710e+12,North End,West End,NaN,1.0,64d451d0-639f-47a4-9b7c-6fd92fbd264f,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi
693069,1.00,Uber,1.543710e+12,North End,West End,27.0,1.0,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV
693070,1.00,Uber,1.543710e+12,North End,West End,10.0,1.0,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool

In [6]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6276 entries, 0 to 6275
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   temp        6276 non-null   float64
 1   location    6276 non-null   object
 2   clouds      6276 non-null   float64
 3   pressure    6276 non-null   float64
 4   rain        894 non-null    float64
 5   time_stamp  6276 non-null   int64
 6   humidity    6276 non-null   float64
 7   wind        6276 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 392.4+ KB

In [7]:
weather_df.isna().sum()

temp             0
location         0
clouds           0
pressure         0
rain          5382
time_stamp       0
humidity         0
wind             0
dtype: int64

In [8]:
weather_df = weather_df.fillna(0)

In [9]:
weather_df.isna().sum()

temp          0
location      0
clouds        0
pressure      0
rain          0
time_stamp    0
humidity      0
wind          0
dtype: int64

In [10]:
weather_df.head()

,temp,location,clouds,pressure,rain,time_stamp,humidity,wind
0,42.42,Back Bay,1.0,1012.14,0.1228,1545003901,0.77,11.25
1,42.43,Beacon Hill,1.0,1012.15,0.1846,1545003901,0.76,11.32
2,42.50,Boston University,1.0,1012.15,0.1089,1545003901,0.76,11.07
3,42.11,Fenway,1.0,1012.13,0.0969,1545003901,0.77,11.09
4,43.13,Financial District,1.0,1012.14,0.1786,1545003901,0.75,11.49

In [11]:
avg_weather_df = weather_df.groupby('location').mean()

In [12]:
avg_weather_df

,temp,clouds,pressure,rain,time_stamp,humidity,wind
location,,,,,,,
Back Bay,39.082122,0.678432,1008.447820,0.007925,1.543857e+09,0.764073,6.778528
Beacon Hill,39.047285,0.677801,1008.448356,0.008297,1.543857e+09,0.765048,6.810325
Boston University,39.047744,0.679235,1008.459254,0.007738,1.543857e+09,0.763786,6.692180
Fenway,38.964379,0.679866,1008.453289,0.007343,1.543857e+09,0.767266,6.711721
Financial District,39.410822,0.676730,1008.435793,0.008563,1.543857e+09,0.754837,6.860019
Haymarket Square,39.067897,0.676711,1008.445239,0.008660,1.543857e+09,0.764837,6.843193
North End,39.090841,0.676730,1008.441912,0.008644,1.543857e+09,0.764054,6.853117
North Station,39.035315,0.676998,1008.442811,0.008649,1.543857e+09,0.765545,6.835755
Northeastern University,38.975086,0.678317,1008.444168,0.007358,1.543857e+09,0.767648,6.749426
South Station,39.394092,0.677495,1008.438031,0.008310,1.543857e+09,0.755468,6.848948
Theatre District,38.986711,0.677763,1008.444742,0.008405,1.543857e+09,0.767992,6.834302
West End,38.983403,0.677247,1008.441090,0.008657,1.543857e+09,0.767266,6.816233

In [13]:
avg_weather_df.isna().sum()

temp          0
clouds        0
pressure      0
rain          0
time_stamp    0
humidity      0
wind          0
dtype: int64

In [14]:
avg_weather_df = avg_weather_df.drop(['time_stamp'],axis = 'columns')

In [15]:
avg_weather_df.head()

,temp,clouds,pressure,rain,humidity,wind
location,,,,,,
Back Bay,39.082122,0.678432,1008.447820,0.007925,0.764073,6.778528
Beacon Hill,39.047285,0.677801,1008.448356,0.008297,0.765048,6.810325
Boston University,39.047744,0.679235,1008.459254,0.007738,0.763786,6.692180
Fenway,38.964379,0.679866,1008.453289,0.007343,0.767266,6.711721
Financial District,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019

In [16]:
rides_df

,distance,cab_type,time_stamp,destination,Source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1.544950e+12,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1.543280e+12,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1.543370e+12,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1.543550e+12,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1.543460e+12,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL
...,...,...,...,...,...,...,...,...,...,...
693066,1.00,Uber,1.543710e+12,North End,West End,13.0,1.0,616d3611-1820-450a-9845-a9ff304a4842,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL
693067,1.00,Uber,1.543710e+12,North End,West End,9.5,1.0,633a3fc3-1f86-4b9e-9d48-2b7132112341,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX
693068,1.00,Uber,1.543710e+12,North End,West End,NaN,1.0,64d451d0-639f-47a4-9b7c-6fd92fbd264f,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi
693069,1.00,Uber,1.543710e+12,North End,West End,27.0,1.0,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV
693070,1.00,Uber,1.543710e+12,North End,West End,10.0,1.0,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool

In [17]:
rides_df.isna().sum()

distance                0
cab_type                0
time_stamp              0
destination             0
Source                  0
price               55095
surge_multiplier        0
id                      0
product_id              0
name                    0
dtype: int64

In [18]:
rides_df = rides_df.dropna(axis = 0)

In [19]:
rides_df

,distance,cab_type,time_stamp,destination,Source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1.544950e+12,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1.543280e+12,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1.543370e+12,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1.543550e+12,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1.543460e+12,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL
...,...,...,...,...,...,...,...,...,...,...
693065,1.00,Uber,1.543710e+12,North End,West End,9.5,1.0,353e6566-b272-479e-a9c6-98bd6cb23f25,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,WAV
693066,1.00,Uber,1.543710e+12,North End,West End,13.0,1.0,616d3611-1820-450a-9845-a9ff304a4842,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL
693067,1.00,Uber,1.543710e+12,North End,West End,9.5,1.0,633a3fc3-1f86-4b9e-9d48-2b7132112341,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX
693069,1.00,Uber,1.543710e+12,North End,West End,27.0,1.0,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV
693070,1.00,Uber,1.543710e+12,North End,West End,10.0,1.0,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool

In [20]:
rides_df.isna().sum()

distance            0
cab_type            0
time_stamp          0
destination         0
Source              0
price               0
surge_multiplier    0
id                  0
product_id          0
name                0
dtype: int64

In [21]:
rides_df['price']

0          5.0
1         11.0
2          7.0
3         26.0
4          9.0
          ...
693065     9.5
693066    13.0
693067     9.5
693069    27.0
693070    10.0
Name: price, Length: 637976, dtype: float64

In [22]:
avg_weather_df.head()

,temp,clouds,pressure,rain,humidity,wind
location,,,,,,
Back Bay,39.082122,0.678432,1008.447820,0.007925,0.764073,6.778528
Beacon Hill,39.047285,0.677801,1008.448356,0.008297,0.765048,6.810325
Boston University,39.047744,0.679235,1008.459254,0.007738,0.763786,6.692180
Fenway,38.964379,0.679866,1008.453289,0.007343,0.767266,6.711721
Financial District,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019

In [23]:
rides_df.head()

,distance,cab_type,time_stamp,destination,Source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1.544950e+12,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1.543280e+12,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1.543370e+12,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1.543550e+12,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1.543460e+12,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL

In [24]:
# there rides_df 'source' column  i filled avg_wether_df data

In [25]:
source_weather_df = avg_weather_df.rename(
    columns={
        'location': 'Source',
        'temp': 'Source_temp',
        'clouds': 'Source_clouds',
        'pressure': 'Source_pressure',
        'rain': 'Source_rain',
        'humidity': 'Source_humidity',
        'wind': 'Source_wind'
    }
)

source_weather_df

,Source_temp,Source_clouds,Source_pressure,Source_rain,Source_humidity,Source_wind
location,,,,,,
Back Bay,39.082122,0.678432,1008.447820,0.007925,0.764073,6.778528
Beacon Hill,39.047285,0.677801,1008.448356,0.008297,0.765048,6.810325
Boston University,39.047744,0.679235,1008.459254,0.007738,0.763786,6.692180
Fenway,38.964379,0.679866,1008.453289,0.007343,0.767266,6.711721
Financial District,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019
Haymarket Square,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
North End,39.090841,0.676730,1008.441912,0.008644,0.764054,6.853117
North Station,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
Northeastern University,38.975086,0.678317,1008.444168,0.007358,0.767648,6.749426
South Station,39.394092,0.677495,1008.438031,0.008310,0.755468,6.848948
Theatre District,38.986711,0.677763,1008.444742,0.008405,0.767992,6.834302
West End,38.983403,0.677247,1008.441090,0.008657,0.767266,6.816233

In [26]:
# same procedure for column destination

In [27]:
destination_weather_df = avg_weather_df.rename(
    columns={
        'location': 'destination',
        'temp': 'destination_temp',
        'clouds': 'destination_clouds',
        'pressure': 'destination_pressure',
        'rain': 'destination_rain',
        'humidity': 'destination_humidity',
        'wind': 'destination_wind'
    }
)

destination_weather_df

,destination_temp,destination_clouds,destination_pressure,destination_rain,destination_humidity,destination_wind
location,,,,,,
Back Bay,39.082122,0.678432,1008.447820,0.007925,0.764073,6.778528
Beacon Hill,39.047285,0.677801,1008.448356,0.008297,0.765048,6.810325
Boston University,39.047744,0.679235,1008.459254,0.007738,0.763786,6.692180
Fenway,38.964379,0.679866,1008.453289,0.007343,0.767266,6.711721
Financial District,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019
Haymarket Square,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
North End,39.090841,0.676730,1008.441912,0.008644,0.764054,6.853117
North Station,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
Northeastern University,38.975086,0.678317,1008.444168,0.007358,0.767648,6.749426
South Station,39.394092,0.677495,1008.438031,0.008310,0.755468,6.848948
Theatre District,38.986711,0.677763,1008.444742,0.008405,0.767992,6.834302
West End,38.983403,0.677247,1008.441090,0.008657,0.767266,6.816233

In [28]:
# merge data in rides_df

In [ ]:
def preprocessing_inputs(df):
    df = df.copy()
    return df

In [ ]:
X = preprocessing_inputs(rides_df)

In [ ]:
X

In [ ]:
{column: len(X[column].unique()) for column in X.columns}

In [ ]:
{column: len(X[column].unique()) for column in X.select_dtypes('object')}